---
layout: layouts/home.njk
eleventyNavigation:
  key: Briefing
  order: 1
---
<h1>Good Evening PVT</h1>
<p>
I'm sure by now Sergeant Furlan has given you your orders on how to proceed. <br>
Familerize yourself on any new intelegence that has come in. Then login to your terminal
and get to work. <br><br>
Failure is not an option.
</p>
