---
layout: layouts/basic-center.njk
eleventyNavigation:
  key: Briefing
  order: 1
---
<h3 class="is-size-4 px-4 py-4">Good Evening PVT</h3>
<p class="is-size-4 px-4 py-4">
I'm sure by now Sergeant Furlan has given you your orders on how to proceed. <br>
Familerize yourself on any new intelegence that has come in. Then login to your terminal
and get to work. <br><br>
Failure is not an option.
</p>
