---
layout: layouts/basic-center.njk
eleventyNavigation:
  key: Intel
  order: 2
---
<h3 class="title is-3 px-4 py-4">Intelligence Reports</h3>

<ul class="pl-6">
<li><b>1310ABF</b> - [redacted]</li>
<li><b>1343B11</b> - The blue light shines</li>
<li><b>12FF805</b> - The sky turned black 10 times today</li>
</ul>

