---
layout: layouts/base.njk
templateClass: tmpl-home
eleventyNavigation:
  key: Terminal
  order: 3
---

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box is-gapless px-3" id="bezel-monitor">
        <div id="crt-bezel">
          <div id="crt">

          <!-- Game content -->
          <div id="output"></div>

          </div>
        </div>

        <div class="level-left">
        <!-- Player input -->        
          &gt;&nbsp;<input id="input" class="input is-static" type="text" autofocus spellcheck="false">
        </div>
          
    </div>
  </div>

  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child">
      
    </div>

  </div>

</div>

