---
layout: layouts/base.njk
templateClass: tmpl-home
eleventyNavigation:
  key: Terminal
  order: 3
---

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child block is-gapless px-3" id="bezel-monitor">
        <!-- Game content -->
        <div id="output">

          Test 1 <br>
          Test 2 <br>

          Test 3 <br>
          Test 4 <br>

          Test 5 <br>
          Test 6 <br>

          Test 7 <br>
          Test 8 <br>

          Test 9 <br>
          Test 0 <br>

        </div>

        <div class="level-left">
        <!-- Player input -->        
          &gt;&nbsp;<input id="input" class="input is-static" type="text" autofocus spellcheck="false">
        </div>
          
    </div>
  </div>

  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child">
      
    </div>

  </div>

</div>