---
layout: layouts/base.njk
templateClass: tmpl-home
eleventyNavigation:
  key: Terminal
  order: 3
---

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box is-gapless px-3" id="bezel-monitor">
        <div id="crt-bezel">
          <div id="crt">

          <!-- Game content -->
          <div id="output"></div>

          </div>
        </div>

        <div class="level-left">
        <!-- Player input -->        
          &gt;&nbsp;<input id="input" class="input is-static" type="text" autofocus spellcheck="false">
        </div>
          
    </div>
  </div>

  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child">
      

<div id="tabs-with-content">
  <div class="tabs is-centered">
    <ul>
      <li><a>Page 1</a></li>
      <li><a>Page 2</a></li>
    </ul>
  </div>
  <div>
    <!-- this is the beg of page 1 -->
    <section class="tab-content">
    <span class="is-pulled-right notes">May 5th</span><br>
<p class="notes-a">Trainer - Von Peallman - Here for 6 years next October<br>
Everything will be on a need to <span class="notes-b">kn</span>ow <span class="notes-c">ba</span>sis<br>

</p>
<p class="notes-a">On the ocean <span class="notes-c">somewhere</span> north of Virginia(?)<br>
We ar<span class="notes-b">e pa</span>rt of Station 12<br>
Follo<span class="n-bl">w </span>orders, do as told, fast and effeciency<br>
</p>
<span class="notes-c">We will need to </span><span class="notes-a">pick </span><span class="notes-b">up</span><span class="notes"> on things quickly.</span><br>
<span class="notes">- all opperations </span><span class="notes-a"> will be </span><span class="notes-c">monitored</span><br>
<span class="notes-a">u/p: &nbsp; &nbsp; </span><span class="notes-a">  rjones / Ttlg716 </span><br>
<span class="notes-a">typing help seems to show what commands are avaible to you</span><br>
    </section> 
    <!-- this is the end of page 1 -->
    <!-- this is the beg of page 2 -->
    <section class="tab-content">
    <span class="is-pulled-right notes">May 8th</span><br>
    <span class="notes">Dearest Jamie,</span><br>
    <span class="notes pl-5">I have lost track of the days. This might be day 7 or 10 or... It doesn't really matter. I hope this letter reaches you, and all is well.</span>
    <span class="notes-a">This is all so strage yet familar. I hope I can make you proud. But I do have one thing to ask of you: Who were those men who came to the house
    and why didn't they know who I was?</span>
    <span class="notes-b2">Our world was so ordinary before </span>
    <span class="notes-b n-blh">
      The world has turned and left me here Just where I was before you appeared And in your place, an empty space Has filled the void behind my face......
    </span>

    </section>
    <!-- this is the end of page 2 -->
  </div>
</div>



    </div>
  </div>
</div>

