<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>- .... . .-.. --- --- -.- .. -. --. --. .-.. .- ... ...</title>
  <meta name="description" content="{{ description or metadata.description }}">

  {#- Uncomment this if you’d like folks to know that you used Eleventy to build your site! #}
  {#-
  <meta name="generator" content="{{ eleventy.generator }}"> #}
  <link rel="stylesheet" href="{{ '/css/bulma.min.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/crt.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/tabs.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/custom.css' | url }}">
  
  <script src="{{ '/js/bundle-start.js' | url }}" defer></script>
</head>

<body>
  <header>

    <nav class="navbar is-transparent is-black" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <h4 class="title is-4 has-text-white navbar-item">{{ metadata.title }}</h4>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

          {%- for entry in collections.all | eleventyNavigation %}
          <a class="navbar-item" href="{{ entry.url | url }}">{{ entry.title }}</a>
          {%- endfor %}

        </div>
      </div>
    </nav>

  </header>

  <main>

    {{ content | safe }}
       
  </main>

  <footer></footer>

  <!-- Current page: {{ page.url | url }} -->
</body>

</html>